@font-face
{
    src: url(./fonts/Allan-Regular.ttf);
    font-family: allan-reg;
}

@font-face
{
    src: url(./fonts/Allan-Bold.ttf);
    font-family: allan-bold;
}

html
{
    background-color: white;
}

h1 
{
    text-align: center;
    font-size: 45px;
    font-family: allan-bold;
    color: black;
    text-shadow: 2px 0 2px white;
    margin-top: 5px;
}

body
{
    background-color: brown;
    width: auto;
    height: auto;
    margin: 0 auto;
}